.sidenav {
  background-color: rgb(131, 45, 201);
  width: 200px;
}

.sidenav a {
  color: #fff;
  text-decoration: none;
}

.sidenav i {
  padding-right: 5px;
}
.content {
  padding: 16px;
  background-color: white;
}
